<form novalidate [formGroup]="monkeyForm" (ngSubmit)="submit()">
  <div >
    <label>Name</label>
    <input type="”text”" class="”form-control”" />
  </div>
  <div>
    <label>Age</label>
    <input type="”text”" class="”form-control”" />
  </div>
  <div>
    <label>Weight</label>
    <input type="”text”" class="”form-control”" />
  </div>
  <div>
    <label>Gender</label>
    <input type="”text”" class="”form-control”" />
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>
