<div style="margin: 10px; min-width: 50%;">
  <app-troop-search></app-troop-search>
</div>
<div style="margin: 10px; min-width: 50%;">
  <app-monkey-search></app-monkey-search>
</div>
<div style="margin: 10px; background-color: orange;">
  <region (troopSelected)="onTroopSelected($event)"></region>
</div>
<div style="margin: 10px; background-color: grey;" *ngIf="activeTroop$ | async">
  <app-troop (monkeySelected)="onMonkeySelected($event)"></app-troop>
  <h5>Region: {{region?.name}}</h5>
</div>

<div style="margin: 10px; padding: 5px;">
  <statistics [region]="region"></statistics>
</div>

<div style="margin: 10px; padding: 5px;">
  <p>this is some text</p>
  <monkey [monkey]="activeMonkey"></monkey>
</div>