<div style="margin: 10px; background-color: orange;">
  <region (troopSelected)="onTroopSelected($event)" [region]="region"></region>
</div>
<div style="margin: 10px;">
  <app-troop [troop]="activeTroop" (monkeySelected)="onMonkeySelected($event)"></app-troop>
  <h5>Region: {{region.name}}</h5>
  <monkey [monkey]="activeMonkey"></monkey>
</div>

<div style="margin: 10px; padding: 5px;" >
  <statistics [region]="region"></statistics>
</div>
<div style="margin: 10x; padding: 10px; background-color: green;">
{{region.getMonkeyCount()}} is the total number of monkeys in the region
</div>