<h3>{{troop?.name}} Troop</h3>
<div>
  <button (click)="populate()">Populate Troop</button>
  <button (click)="age()">Age Troop</button>
  <button (click)="feed()">Feed Troop</button>
  <button (click)="engage()">Engage Troop</button>
</div>
<pre>{{logger}}</pre>
<div style="margin: 15px; padding: 10px;">
<table>
    <tr>
      <th>Name</th>
      <th>Gender</th> 
      <th>Age</th>
      <th>Status</th>
      <th>Weight</th>
      <th>Normal or Mutant</th>
    </tr>
    <tr *ngFor="let monkey of troop?.monkeys">
      <td (click)="onMonkeySelect(monkey.id)"><a href="#">{{ monkey.name | titlecase }}</a></td>
      <td>{{ monkey.gender | titlecase }}</td>
      <td>{{ monkey.age }}</td>
      <td>{{ monkey.isAlive ? 'Alive' : 'Dead' }}</td>
      <td>{{ monkey.weight }}</td>
      <td>{{ monkey.isMutant ? 'Yes' : 'No' }}</td>
    </tr>
  </table>
</div>
<div style="margin-top: 10px;">
  <monkey [monkey]="selectedMonkey"></monkey>
</div>