<h3>{{troop?.name}}</h3>
<div>
  Your action buttons here
  <button (click)="populate()">Populate Troop</button>
  <button (click)="age()">Age Troop</button>
  <button (click)="feed()">Feed Troop</button>
  <button (click)="engage()">Engage Troop</button>
</div>
<div>
<table>
    <tr>
      <th>Name</th>
      <th>Gender</th> 
      <th>Age</th>
      <th>Status</th>
      <th>Weight</th>
      <th>Normal or Mutant</th>
    </tr>
    <tr *ngFor="let monkey of troop?.monkeys">
      <td>{{ monkey.name }}</td>
      <td>{{ monkey.gender }}</td>
      <td>{{ monkey.age }}</td>
      <td>{{  monkey.isAlive }}</td>
      <td>{{ monkey.weight }}</td>
      <td>{{ monkey.isMutant }}</td>
    </tr>
  </table>
</div>